DATABASE_URL=
JWT_SECRET_KEY=
FLASK_ENV=

# SMTP (Gmail)
MAIL_USERNAME=votre.email@gmail.com
MAIL_PASSWORD=votre_mot_de_passe_application
MAIL_FROM=votre.email@gmail.com
FRONTEND_URL=http://localhost:5500